---
import "@styles/collection.css";
import { Image } from "astro:assets";
const { product } = Astro.props;
---

<article class="cs-item">
  <a href={product.slug} class="cs-link">
    <div class="cs-picture-group">
      <picture class="cs-picture">
        <Image
          src={product.data.image}
          alt={product.data.imageAlt}
          aria-hidden="true"
          format="avif"
        />
      </picture>
      {
        product.data.promo && (
          <span class="cs-offer">{product.data.discount}% OFF</span>
        )
      }
    </div>
    <div class="cs-details">
      <h3 class="cs-name">{product.data.title}</h3>
      <div class="cs-actions">
        <div class="cs-flex">
          <span class="cs-price">{product.data.price}€</span>
          {
            product.data.promo && (
              <span class="cs-was-price">{product.data.oldPrice}€</span>
            )
          }
        </div>
      </div>
    </div>
  </a>
</article>
